@import url("https://fonts.googleapis.com/css2?family=Matemasie&family=Nerko+One&display=swap");

/*Font Utils*/
.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Main CSS*/
:root {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low: -0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.1), -0.8px 0.8px 1.3px -1.2px hsl(var(--shadow-color) / 0.1),
        -2px 2px 3.2px -2.3px hsl(var(--shadow-color) / 0.11);
    --shadow-elevation-medium: -0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.1), -1.7px 1.7px 2.8px -0.8px hsl(var(--shadow-color) / 0.11),
        -4.1px 4.2px 6.7px -1.6px hsl(var(--shadow-color) / 0.11), -9.9px 10px 16.1px -2.3px hsl(var(--shadow-color) / 0.11);
    --shadow-elevation-high: -0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.09), -3px 3.1px 5px -0.3px hsl(var(--shadow-color) / 0.1),
        -5.6px 5.7px 9.2px -0.7px hsl(var(--shadow-color) / 0.1), -9.1px 9.3px 14.9px -1px hsl(var(--shadow-color) / 0.1),
        -14.4px 14.6px 23.5px -1.3px hsl(var(--shadow-color) / 0.1), -22.3px 22.7px 36.5px -1.7px hsl(var(--shadow-color) / 0.1),
        -33.7px 34.2px 55.1px -2px hsl(var(--shadow-color) / 0.1), -49.4px 50.2px 80.8px -2.3px hsl(var(--shadow-color) / 0.11);
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    background-color: #446cad;
}

.bgImg {
    height: 100vh;
    position: absolute;
    z-index: -1;
    transform: scale(150%);
    top: 20%;
    left: 0;
}

.curve {
    display: flex;
    flex-shrink: 0;
    margin: 0px;
    padding: 0px;
    background-image: url(./wave-haikei.svg);
    aspect-ratio: 150/900;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    filter: drop-shadow(4px 4px 1px);
}

.mainArea {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 100vh;
}

.mainDiv {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #446cad;
    height: 100vh;
}

label {
    color: darkgray;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
