@import url("https://fonts.googleapis.com/css2?family=Matemasie&family=Nerko+One&family=Playwrite+CU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

/*Font Utils*/
.suse {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.playwrite-cu {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
    font-size: 25vh !important;
    margin-top: -40px;
}

/*Main CSS*/
* {
    padding: 0px;
    margin: 0px;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    overflow: hidden;
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low: -0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.1), -0.8px 0.8px 1.3px -1.2px hsl(var(--shadow-color) / 0.1),
        -2px 2px 3.2px -2.3px hsl(var(--shadow-color) / 0.11);
    --shadow-elevation-medium: -0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.1), -1.7px 1.7px 2.8px -0.8px hsl(var(--shadow-color) / 0.11),
        -4.1px 4.2px 6.7px -1.6px hsl(var(--shadow-color) / 0.11), -9.9px 10px 16.1px -2.3px hsl(var(--shadow-color) / 0.11);
    --shadow-elevation-high: -0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.09), -3px 3.1px 5px -0.3px hsl(var(--shadow-color) / 0.1),
        -5.6px 5.7px 9.2px -0.7px hsl(var(--shadow-color) / 0.1), -9.1px 9.3px 14.9px -1px hsl(var(--shadow-color) / 0.1),
        -14.4px 14.6px 23.5px -1.3px hsl(var(--shadow-color) / 0.1), -22.3px 22.7px 36.5px -1.7px hsl(var(--shadow-color) / 0.1),
        -33.7px 34.2px 55.1px -2px hsl(var(--shadow-color) / 0.1), -49.4px 50.2px 80.8px -2.3px hsl(var(--shadow-color) / 0.11);
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    background-color: #446cad;
}

.credit {
    color: black;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 6px;
    border-radius: 5px;
}

.credit a {
    transition: all 0.2s;
    color: black;
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
}

.credit a:hover {
    transition: all 0.2s;
    color: gray;
    font-size: larger;
}

.logoHeader {
    position: absolute;
    left: 0;
    top: 25vh;
    z-index: -1;
    width: clamp(33vw, 33vw, 35vw);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.812);
    box-shadow: var(--shadow-elevation-low);
}

.mainLogo {
    margin-top: -50px;
    margin-bottom: -15px;
    color: black;
    font-size: 3rem;
}

.bgImg {
    transition: all 0.3s linear;
    height: 100vh;
    position: absolute;
    z-index: -1;
    left: -10%;
}

.curve {
    display: flex;
    flex-shrink: 0;
    margin: 0px;
    padding: 0px;
    background-image: url(./wave-haikei.svg);
    aspect-ratio: 150/900;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.mainArea {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 70vw;
    height: 100vh;
}

.mainDiv {
    padding-top: 24px;
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #446cad;
    height: 100vh;
}

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin: 16px;
}

.titleText {
    font-size: 3rem;
    align-self: flex-start;
}

.formRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0px;
    margin: 0px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.formModal {
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: 25px;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color: whitesmoke;
    box-shadow: var(--shadow-elevation-medium);
    border: none;
    border-radius: 16px;
}

.modalButtonWrapper {
    margin-top: 12vh;
    display: flex;
    align-items: flex-end;
}

.createButton {
    transition: all 0.2s;
    font-size: 1rem;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    border: none;
    box-shadow: var(--shadow-elevation-medium);
}

.createButton:hover {
    transition: all 0.2s;
    font-size: 1.1rem;
    box-shadow: var(--shadow-elevation-high);
}

.createButton:active {
    transition: all 0.2s;
    box-shadow: var(--shadow-elevation-low);
}

label {
    color: darkgray;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
